<div class="cabecalho">            
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo">ERP : {{ sub_titulo }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="{% if sub_titulo == 'Home' %} active {% endif %}"><a href="">Home</a></li>
                <li class="{% if sub_titulo == 'Utilitários' %} active {% endif %}"><a href="">Utilitarios</a></li>
                <li class="{% if sub_titulo == 'Estoque' %} active {% endif %}"><a href="">Estoque</a></li>
            </ul>
        </div>
    </nav
</div>